*
!.gitignore

# zsh terminal
!zsh
!zsh/**/*

# window manager
!awesome
!awesome/**/*

# window manager
!i3
!i3/**/*

# terminal emulator
!alacritty
!alacritty/**/*

# compositor (transparency, blur, shadows, etc)
!picom
!picom/**/*

# system info fetcher when u open terminal
!fastfetch
!fastfetch/**/*

# theme for gnome
!gtk-3.0
!gtk-3.0/**/*

# neovim settings
!nvim
!nvim/**/*
